/* ---------------- custom css sheet ---------------- */

/* -- GLOBAL --*/
body {
	background: #f4f5f7;
}
p, h3, h4, h5 {
	color: #2f2f2f;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul, a {
	font-family: 'Proxima Nova', 'Helvetica', sans-serif; 
}

p {
	font-family: 'Georgia', serif; 
}

.row {
	padding: 0 2em 0 2em;
	max-width: 800px;
}

.columns {
	padding-left: 0; 
	padding-right: 0;
}

/* -- SECTIONS -- */
.top-bar {
	height: 50px;
	background-color: black; 
}

.top-section {
	padding-top: 5em; 
	padding-bottom: 1.5em; 
	text-align: center;
}

.about-id-section {
	margin-top: 4.5em;
	margin-bottom: 5em; 
	text-align: center; 
}

.about-id-section a {
	font-size: .8em;
}

.internship-specifics {
	margin-top: 4.5em;
	margin-bottom: 1em; 
}

#apply-now {
	padding-bottom: 4em;
	padding-top: 4.5em;
	margin-top: 4.5em;
	background-color: #e2e6ea;
	background: cover; 
	width: 100%;
}

.footer-bar {
	height: 70px;
	background: #000;
	width: 100%;
}

/* -- TEXT -- */
h1 {
	color: #6c7f92;
	margin: .75em 0 .5em 0;
	font-size: 3.5em; 
	line-height: 1.2em;
}

h2 {
	color: #d62828;
	font-weight: 700;
	letter-spacing: 1px;
}

h4 {
	font-weight: 800;
	font-size: 2em; 
	letter-spacing: 1.5px;
	margin-bottom: .5em;
	line-height: 1.3em; 
}
 
h5 {
	font-weight: 400;
}

h6 {
	letter-spacing: .5px; 
}

.quote-text {
	font-family: 'Georgia', serif;
	font-size: .8em;
	max-width: 180px;
	padding-top: .8em; 
	text-align: center;
}

.attribution {
	max-width: 180px;
	font-size: .9em;
	font-weight: 700;
	font-family: 'Proxima Nova', 'Helvetica', sans-serif; 
	text-align: center;
	margin-top: .5em;
}

ul {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	color: #2f2f2f;
}

.perks-list {
	padding-right: 1em;
}

.apply-blurb {
	color: #6c7f92;
	letter-spacing: initial;
	padding-right: 1.2em;
}

/* -- BUTTONS -- */
button {
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-top: 2em; 
	padding: .8em 2em .8em 2em;
	/*transition: background-color 0.5s ease;
	background-color: #d62828;*/
}

.btn-bottom {
	margin-top: 1.3em;
}

/* -- IMAGES -- */
.banner-img1 {
	background: url(../img/office_pic.jpg) no-repeat center center fixed;
	background-size: cover;
}

.banner-img2 {
	background: url(../img/chinatown_pic.jpg) no-repeat center center fixed;
	background-size: cover;
}

.image-holder {
	height: 458px;
	width: 100%;
}

.quote-photo {
	margin: 3em 0 1em 0;
	height: 150px;
	width: 150px;
}

.arrow {
	width: 25px;
	height: 25px;
	margin-top: 4.5em;
}

.arrow {
	width: 25px;
	height: 25px;
	margin-top: 4.5em;
}

.down-arrow {
	width: 10px;
}

/* -- ACCORDIAN --*/
.position {
	font: 700 1.1em 'Proxima Nova', 'Helvetica', sans-serif;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.learn-more {
	color: #6c7f92;
	font: 400 .9em 'Proxima Nova', 'Helvetica', sans-serif;
	letter-spacing: .5px;
	float: right;
}

.position-descriptions {
    margin:0 auto;
    position:relative;
}

.content {
	display: none;
	height: auto;
	margin: 0 0 1em 0;
	position: relative;
	text-align: left;
}
	.content ul {
		font-family: 'Georgia', serif; 
		font-size: .95em;
	}

.accordion .accordion-navigation > a {
	background: none;
}
	.accordion .accordion-navigation > a:hover, .accordion .accordion-navigation.active > a {
		background: #e2e6eA;
	}

.accordion .accordion-navigation > .content.active {
	background: #e2e6ea;
}

.tech-intern {
	font-weight: 700; 
}

/*media queries*/
@media only screen and (max-width: 40em) { /*small only*/
	button {
		width: 100%;
	}	
	.btn-quote {
		width: 50%; 
	}
	.top-section {
		padding-top: 2em; 
	}
	.arrow {
		margin-top: 3em;
	}
}

@media only screen and (min-width: 40.063em) { /*medium and up*/
	.apply-blurb {
		width: 95%;
	}
}

