/* ---------------- custom css sheet ---------------- */

/* -- GLOBAL --*/
body {
	background: #f4f5f7;
}
p, h3, h4, h5 {
	color: #2f2f2f;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
	font-family: 'Proxima Nova', 'Helvetica', sans-serif; 
}

p {
	font-family: 'Palatino', serif; 
}

.row {
	padding: 0 2em 0 2em;
	max-width: 800px;
}

/* -- SECTIONS -- */
.top-section {
	margin-top: 3em;
	text-align: center;
}

.about-id-section {
	margin-top: 1.5em;
	margin-bottom: 4em;
}

.internship-specifics {
	margin-top: 1.5em;
}

.apply-now {
	margin-bottom: 3em;
	margin-top: 2em;
}

.footer-bar {
	height: 70px;
	background: #000;
	width: 100%;
}

/* -- TEXT -- */
h1 {
	color: #6c7f92;
	margin-bottom: .5em;
}

h2 {
	color: #d62828;
	font-weight: 700;
	letter-spacing: 1px;
}

h4 {
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: .5em;
	margin-top: 2em;
}

h5 {
	font-weight: 400;
}

h6 {
	letter-spacing: .5px; 
}

.quote-text {
	font-family: "Palatino", serif;
	font-size: .8em;
	max-width: 180px;
}
.attribution {
	max-width: 180px;
	font-size: .9em;
	font-weight: 700;
	font-family: 'Proxima Nova', 'Helvetica', sans-serif; 
}

ul {
	margin-bottom: 4em;
	margin-top: 1em;
}

.apply-blurb {
	color: #6c7f92;
	letter-spacing: initial;
}

/* -- BUTTONS -- */
button {
	border-bottom: 5px solid #ab2020;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-bottom: 4em;
	margin-top: 1.7em;
	padding: .8em 0 .8em 0;
	width: 300px;
}

/* -- IMAGES -- */
.banner-img1 {
	background: url(../img/editorial_pic.jpg) no-repeat center center fixed;
	background-size: cover;
}

.banner-img2 {
	background: url(../img/chinatown.jpg) no-repeat center center fixed;
	background-size: cover;
}

.image-holder {
	height: 458px;
	width: 100%;
}

.quote-photo {
	margin: 3em 0 1em 0;
}

.down-arrow {
	width: 10px;
}

/* -- ACCORDIAN --*/
.position {
	font: 700 1.1em 'Proxima Nova', 'Helvetica', sans-serif;
	letter-spacing: 1px;
	float: left;
	text-transform: uppercase;
}

.learn-more {
	font: 400 1em 'Proxima Nova', 'Helvetica', sans-serif;
	color: #6c7f92;
	float: right;
	margin-right: 1em;
	letter-spacing: .5px; 
}

.position-descriptions {
    margin:0 auto;
    position:relative;
}
	.position-descriptions label{
		cursor: pointer;
		display: block;
		overflow:hidden;
		height: 56px;
		position:relative;
		padding-top: 1.1em;
		padding-left: 1em;
		-webkit-transition: text-indent 0.2s;
		width: 100%;
	}
		.position-descriptions label:hover {
			background: #e2e6ea;
		}
	.position-descriptions input[type="checkbox"] {
		display: none;
	}
	.position-descriptions .content {
		display: none;
		height: 0;
		margin: 3em 0 2em 0;
		position: relative;
		text-align: left;
	}
	.position-descriptions input[type="checkbox"]:checked + label > .content {
		display: block;
	}
	.position-descriptions input[type="checkbox"]:checked + label {
		background: #e2e6ea;
		display: block;
		height: 20em;
		-webkit-transition: height 0.8s;
		transition: height 0.8s;
		-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
